<div class="container">
	<div class="row"
	     style="height: 100%;">
		<div class="col-sm-12 login-aside-wrapper">
			<aside class="col-sm-5 col-centered">
				<div class="card">
					<article class="card-body">
						<h4 class="card-title mb-4 mt-1">Sign up</h4>
						<form>
							<div class="form-group">
								<label>Your email</label>
								<input name=""
								       class="form-control"
								       placeholder="Email"
								       type="email">
							</div>
							<!-- form-group// -->
							<div class="form-group">
								<!-- <a class="float-right"
											   href="#">Forgot?</a> -->
								<label>Your password</label>
								<input class="form-control"
								       placeholder="******"
								       type="password">
							</div>
							<!-- form-group// -->
							<div class="form-group">
								<button type="submit"
								        class="btn btn-primary btn-block"> Register </button>
							</div>
							<!-- form-group// -->
						</form>
					</article>
				</div>
				<!-- card.// -->

			</aside>
		</div>

	</div>
	<!-- row.// -->

</div>
<!--container end.//-->