<div class="container">
	<div class="row"
	     style="height: 100%;">
		<div class="col-sm-12 login-aside-wrapper">
			<aside class="col-sm-5 col-centered">
				<div class="card">
					<article class="card-body">
						<a routerLink="../register"
						   class="float-right btn btn-outline-primary">Sign up</a>
						<h4 class="card-title mb-4 mt-1">Sign in</h4>
						<form [formGroup]="form"
						      (ngSubmit)="submit()">
							<div class="alert alert-danger"
							     *ngIf="invalidAlert.show"
							     role="alert"
							     [innerText]="invalidAlert.text">
							</div>

							<div class="form-group">
								<label>Your email</label>
								<input name="email"
								       class="form-control"
								       formControlName="email"
								       placeholder="Email"
								       type="email">
							</div>
							<!-- form-group// -->
							<div class="form-group">
								<label>Your password</label>
								<input class="form-control"
								       name="password"
								       formControlName="password"
								       placeholder="******"
								       type="password">
							</div>
							<!-- form-group// -->
							<div class="form-group">
								<div class="checkbox">
									<label>
										<input type="checkbox"> Save password </label>
								</div>
								<!-- checkbox .// -->
							</div>
							<!-- form-group// -->
							<div class="form-group">
								<button type="submit"
								        class="btn btn-primary btn-block"> Login </button>
							</div>
							<!-- form-group// -->
						</form>
					</article>
				</div>
				<!-- card.// -->

			</aside>
		</div>

	</div>
	<!-- row.// -->

</div>
<!--container end.//-->