<div class="container">
	<div class="row"
	     style="height: 100%;">
		<div class="col-md-12 room-wrapper">
			<div class="col-md-12 second-w">
				<div class="card">
					<div class="card-body">
						<div class="block-panel">
							<h2 class="block-panel-heading">Room #312</h2>

							<div class="panel panel-default">
								<div class="panel-body chat-body">
									<span class="message">
										<span class="user"
										      style="color: #0A6">User#1</span>: Hello.</span>
									<span class="message">
										<span class="user"
										      style="color: #A00">User#2</span>: Hi!</span>
									<span class="message">
										<span class="user"
										      style="color: #06F">Alien</span>: Greatings, earthlings! I come in peace. Klaatu barada nikto. Here is my
										<a href="#">gift</a> to humanity</span>
									<span class="message">
										<span class="user"
										      style="color: #A00">User#2</span>: Wow!</span>
									<span class="message">
										<span class="user"
										      style="color: #0A6">User#1</span>: Radical, dude!</span>
								</div>
							</div>
						</div>

						<div class="row message-input">
							<div class="col-lg-12">
								<div class="input-group">
									<input type="text"
									       class="form-control"
									       placeholder="Message"
									       aria-label="Message"
									       aria-describedby="basic-addon2">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary"
										        type="button">Button</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>


			</div>
		</div>


	</div>
</div>